@page "/favorite"
@using MovieCraft.Shared.DTOs
@inject PopularMoviesState PopularMoviesState

<h3>Popular Movies</h3>

@if (movies == null)
{
    <p>Loading movies...</p>
}
else
{
    <div class="movies-grid">
        @foreach (var movie in movies)
        {
            <div class="movie-card">
                <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" alt="@movie.Title" />
                <h4>@movie.Title</h4>
                <p>@movie.Overview</p>
            </div>
        }
    </div>
}


@code {
    private IEnumerable<MovieDto> movies = new List<MovieDto>();

    protected override void OnInitialized()
    {

        movies = PopularMoviesState.PopularMovies!;
    }
}
