.movie-details-container {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


@media (max-width: 991px) {
    .carousel-container {
        padding: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .movie-details-container {
        align-items: flex-start;
    }

    .carousel-container {
        margin-top: 20px; 
        align-self: flex-start; 
    }
}

.action-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 991px) {
    .movie-details-container,
    .carousel-container,
    .action-buttons-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .movie-details-container {
        margin-top: 20px;
    }
}
