.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.8); */
}


main {
    flex: 1;
      margin-left: 90px;
     transition: margin-left 0.4s;
    overflow: auto;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
   margin-left: 90px;
    padding: 0; 
    overflow-y: auto; 
    height: 100vh;
}


/*nav:hover ~ main {
    margin-left: 300px;
}*/

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}
