@inherits LayoutComponentBase
@implements IDisposable
@inject UserState UserState
@inject BackgroundState BackgroundState

<div class="page" style="background-image: url('@BackgroundState.BackgroundImageUrl');">
    <NavMenu />
    <main>
        <div class="top-bar">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
        BackgroundState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
        BackgroundState.OnChange -= StateHasChanged;
    }
}
