@inherits LayoutComponentBase
@implements IDisposable
@inject UserState UserState
@inject BackgroundState BackgroundState


<div class="background-container">
    <div class="background-image current" style="background-image: url('@BackgroundState.BackgroundImageUrl');"></div>
    <div class="background-image next"></div>
</div>
<div class="page">
    <NavMenu />
    <main>
        <div class="top-bar">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                ShowProgressBar="true"
              >
    <CloseButtonContent>
        <div>
            <i class="bx bx-x"></i>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
        BackgroundState.OnChange += UpdateBackground;
    }

    private void UpdateBackground()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
        BackgroundState.OnChange -= UpdateBackground;
    }
}
