.page {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

main {
    overflow: auto;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background:rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

    .background-image.current {
        opacity: 1;
    }

    .background-image.next {
        opacity: 0;
    }


@media (max-width: 576px) {
    .top-bar {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .top-bar {
        padding: 10px;
    }

        .top-bar .btn-icon {
            font-size: 20px;
        }
}


.content {
    color: #ffffff;
}
