@inherits LayoutComponentBase
@inject UserState UserState

<div class="page">
    <NavMenu />
    <main>
        <div class="top-bar">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}
