/*nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: width .4s;
    z-index: 2;
}
*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: width .4s;
    z-index: 2;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        list-style-type: none;
    }


    nav:hover {
        width: 300px;
    }

    nav .nav-brand img {
        width: 50px;
        border-radius: 50%;
        margin-top: 15px;
        transition: width .4s, margin-top .4s;
    }

    nav:hover .nav-brand img {
        width: 120px;
        margin-top: 30px;
    }

    nav .nav-brand .info {
        text-align: center;
        opacity: 0;
        transition: opacity .4s;
    }

    nav:hover .nav-brand .info {
        opacity: 1;
        transition-delay: .2s;
    }

    nav .nav-item {
        cursor: pointer;
        padding: 0 25px;
        height: 80px;
        line-height: 80px;
        text-align: left;
        transition: background .4s;
    }

     


        nav .nav-item i {
            margin-right: 6px;
            font-size: 26px;
            color: #dddddd;
            transform: translateY(5px);
            transition: color .4s;
        }

    nav:hover .nav-item i {
        color: #f4c402;
    }

    nav .nav-item span {
        color: #ffffff;
        font-size: 18px;
        opacity: 0;
        transition: opacity .4s;
    }

    nav:hover .nav-item span {
        opacity: 1;
        transition-delay: .2s;
    }

::deep .nav-item a,
::deep .nav-item a:hover,
::deep .nav-item a.active {
    text-decoration: none; 
    border-bottom: none; 
    color: inherit;
}

::deep .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f4c402;
}



.nav-toggle {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
    z-index: 3;
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgN0gxNVY5SDVWN00yMCA3SDMwVjlIMjBaTTUgMTNIMTVWMTVINVYxM00yMCAxM0gzMFYxNUgyMFpNNSAxOUgxNVYyMUg1VjE5TTIwIDE5SDMwVjIxSDIwWiIgZmlsbD0iI0ZGRiIvPgo8L3N2Zz4=');
    background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    nav {
        left: -300px;
        transition: left .3s;
    }

        nav.nav-open {
            left: 0;
        }

    .nav-toggle {
        display: block;
    }

    main {
        margin-left: 0;
    }

    nav:hover ~ main {
        margin-left: 0;
    }
}
