@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<nav class="@NavClass">
    <div class="nav-brand">
        <img src="./images/Logo.svg" alt="logo">
        <div class="info">
            <h2>MovieCraft</h2>
            <p>Your Movie Hub</p>
        </div>
    </div>
    <ul class="nav-list-top">
        <li class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <i class="bx bxs-dashboard"></i>
                <span>Home</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="counter">
                <i class="bx bx-bar-chart-alt-2"></i>
                <span>Counter</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="search">
                <i class='bx bx-search-alt'></i>
                <span>Search Movies</span>
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink href="weather">
                        <i class='bx bx-shower'></i>
                        <span>Weather</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="favorites">
                        <i class='bx bx-heart'></i>
                        <span>Favorite Movies</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="" @onclick="BeginLogOut">
                        <i class='bx bx-log-out'></i>
                        <span>Log Out</span>
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink href="authentication/login">
                        <i class='bx bx-log-in'></i>
                        <span>Log In</span>
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

<div class="overlay @(isNavOpen ? "show" : "")" @onclick="ToggleNavMenu"></div>

<button class="nav-toggle" @onclick="ToggleNavMenu">
    <i class="bx bx-menu"></i>
</button>

@code {
    private bool isNavOpen = false;

    private string NavClass => isNavOpen ? "nav-open" : "";

    private void ToggleNavMenu()
    {
        isNavOpen = !isNavOpen;
    }

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
