.splash-screen-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  /*  background-color: rgba(0, 0, 0, 0.8);*/
}                                                                                                                                                                                                                                                                                                                                                                           
