<div class="action-buttons">
    <button class="btn watch-trailer" @onclick="WatchTrailer">
        <i class="bx bx-play-circle"></i>
        <span>Trailer</span>
    </button>
    <button class="btn add-to-favorites" @onclick="AddToFavorites">
        <i class="bx bx-heart"></i>
        <span>Favorite</span>
    </button>
</div>

@code {
    private void WatchTrailer()
    {
        // todo
    }

    private void AddToFavorites()
    {
        // todo
    }
}
