.action-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #f4c402;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 150px;
    text-align: center;
}

    .btn i {
        margin-right: 8px;
        font-size: 20px;
    }

    .btn:hover {
        background-color: #d4a402;
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
    }

        .btn:hover i {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }

    .btn:active {
        transform: scale(0.98);
    }

.add-to-favorites {
    background-color: #e74c3c;
}

    .add-to-favorites:hover {
        background-color: #c0392b;
    }

.watch-trailer {
    background-color: #3498db;
}

    .watch-trailer:hover {
        background-color: #2980b9;
    }

@media (min-width: 992px) {
    .action-buttons {
        justify-content: center;
        width: 100%; 
    }
}


@media (max-width: 600px) {
    .btn {
        padding: 8px 12px;
        font-size: 14px;
        width: 130px;
    }

        .btn i {
            margin-right: 6px;
            font-size: 18px;
        }
}
