<div class="action-buttons">
    <button class="btn action-buttons__button action-buttons__button--trailer" @onclick="WatchTrailer" aria-label="Watch Trailer" data-tooltip="Watch Trailer">
        <i class="bx bx-play-circle"></i>
        <span>Trailer</span>
    </button>
    <button class="btn action-buttons__button action-buttons__button--favorite" @onclick="AddToFavorites" aria-label="Add to Favorites" data-tooltip="Add to Favorites">
        <i class="bx bx-heart"></i>
        <span>Favorite</span>
    </button>
</div>

@code {
    [Parameter] public int TmdbId { get; set; } 
    [Inject] private MovieService MovieService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    private void WatchTrailer()
    {
        // todo
    }

    private async void AddToFavorites()
    {
        if (UserState.CurrentUser == null)
        {
            NavigationManager.NavigateTo("authentication/login");
            return;
        }

        await MovieService.AddToFavorites(TmdbId);
    }
}
