/* Main frame around the carousel */
.carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); /* Darker background */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); /* Shadow effect */
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

/* Swiper container */
.swiper-container {
    width: 90%;
    height: 380px;
    perspective: 1500px;
}

/* Wrapper for slides */
.swiper-wrapper {
    /* No additional styling unless desired */
}

/* Individual slide */
.swiper-slide {
    width: 150px !important; /* Override for fixed slide width */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* Box shadow effect behind the slide */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
}


    .swiper-slide img {
        max-width: 140px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s ease;
    }


        .swiper-slide img:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }


.swiper-slide-active img {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}


@media (max-width: 991px) {
    .carousel-box {
        max-width: 750px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .swiper-container {
        height: 300px;
    }

    .swiper-slide {
        width: 130px !important;
    }

        .swiper-slide img {
            max-width: 120px;
        }
}


@media (max-width: 600px) {
    .carousel-box {
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .swiper-container {
        height: 250px;
    }

    .swiper-slide {
        width: 100px !important;
    }

        .swiper-slide img {
            max-width: 90px;
        }
}
