@using MovieCraft.Shared.DTOs
@inject PopularMoviesState PopularMoviesState
@inject BackgroundState BackgroundState
@implements IDisposable
@inject IJSRuntime JS

@if (PopularMoviesState.PopularMovies == null)
{
    <p>Loading movies...</p>
}
else if (!PopularMoviesState.PopularMovies.Any())
{
    <p>No popular movies found.</p>
}
else
{
    <div class="carousel-box">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var movie in movies!)
                {
                    <div class="swiper-slide" @onclick="() => SetBackground(movie.BackdropPath)">
                        <img src="@($"https://image.tmdb.org/t/p/w342{movie.PosterPath}")" alt="@movie.Title" loading="lazy"/>
                    </div>
                }
            </div>
        </div>
    </div>


}

@code {
    private IEnumerable<MovieDto>? movies;

    private bool swiperInitialized = false;
 
    protected override void OnInitialized()
    {
        movies = PopularMoviesState.PopularMovies;
        PopularMoviesState.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!swiperInitialized)
        {
            await JS.InvokeVoidAsync("initSwiper");
            swiperInitialized = true;
        }
    }

    public void Dispose()
    {
        PopularMoviesState.OnChange -= StateHasChanged;
    }

    public void SetBackground(string backdropPath)
    {
        BackgroundState.BackgroundImageUrl = $"https://image.tmdb.org/t/p/w1280{backdropPath}";
    }
}
