@using MovieCraft.Shared.DTOs

<div class="movie-details">
    <h2>@Movie.Title</h2>
    <p>Release Date: @Movie.ReleaseDate?.ToString("dd.MMMM.yyyy")</p>
    <p>@Movie.Overview</p>
</div>

@code {
    [Parameter]
    public MovieDto Movie { get; set; } = default!;
}
