@if (Movie != null)
{
    <div class="movie-details @(animationClass)">
        <h2 class="movie-details__title">@Movie.Title</h2>
        <p class="movie-details__release-date">Release Date: @(Movie.ReleaseDate?.ToString("dd.MM.yyyy"))</p>
        <p class="movie-details__description">@Movie.Overview</p>
    </div>
}

@code {
    [Parameter]
    public MovieDto Movie { get; set; } = default!;

    private string animationClass = "";

    protected override void OnParametersSet()
    {
        animationClass = "";
        StateHasChanged();

        Task.Delay(100).ContinueWith(_ =>
        {
            animationClass = "movie-details--animate";
            InvokeAsync(StateHasChanged);
        });
    }
}
