


@if (Movie != null)
{
    <div class="movie-details">
        <h2>@Movie.Title</h2>
        <p>Release Date: @(Movie.ReleaseDate?.ToString("dd.MM.yyyy"))</p>
        <p>@Movie.Overview</p>
    </div>

   @*  <div class="action-buttons">
        <button class="btn add-to-favorites" @onclick="AddToFavorites">
            <i class="bx bx-heart"></i>
            Favorites
        </button>
        <button class="btn watch-trailer" @onclick="WatchTrailer">
            <i class="bx bx-play-circle"></i>
            Trailer
        </button>
    </div> *@
}


@code {
    [Parameter]
    public MovieDto Movie { get; set; } = default!;


    // private void WatchTrailer()
    // {
    //    // todo
    // }

    // private void AddToFavorites()
    // {
    //    // todo
    // }

}
