@using MovieCraft.Shared.DTOs

@if (Movie != null)
{
        <div class="@($"movie-details {(showClass ? "show" : "")}")">
            <h2>@Movie.Title</h2>
            <p>Release Date: @Movie.ReleaseDate?.ToString("dd.MM.yyyy")</p>
            <p>@Movie.Overview</p>
        </div>
}

@code {
    [Parameter]
    public MovieDto Movie { get; set; } = default!;

    private bool showClass = false;

   
    protected override async Task OnParametersSetAsync()
    {
        if (Movie != null)
        {
            
            showClass = false;
            StateHasChanged(); 

            
            await Task.Delay(200); 

            
            showClass = true;
            StateHasChanged(); 
        }
    }
}
