.movie-details-container {
    position: relative;
    margin-top: 60px; 
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.movie-details {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    max-height: 300px;
    overflow-y: auto;
}

    .movie-details::-webkit-scrollbar {
        width: 8px;
    }

    .movie-details::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5); 
        border-radius: 10px;
    }

    .movie-details::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.2); 
    }



    .movie-details h2,
    .movie-details p {
        text-shadow: none; 
    }

    .movie-details h2 {
        margin-bottom: 10px;
    }

    .movie-details p {
        margin: 5px 0;
    }


@media (max-width: 991px) {
    .movie-details-container {
        order: -1; 
        width: 100%;
        margin-top: 10px;
    }

    .movie-details {
        max-height: 200px; 
        overflow-y: auto;
    }

       
        .movie-details::-webkit-scrollbar {
            width: 8px;
        }

        .movie-details::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius: 10px;
        }

        .movie-details::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.2);
        }
}

@media (max-width: 600px) {
    .movie-details-container {
        width: 100%;
        margin-top: 10px;
        overflow-y: scroll;
    }

    .movie-details {
        max-height: 250px; 
        overflow-y: auto; 
    }

       
        .movie-details::-webkit-scrollbar {
            width: 8px;
        }

        .movie-details::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius: 10px;
        }

        .movie-details::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.2); 
        }
}
