@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            <span>Hello, @context.User.Identity?.Name!</span>
            <button class="btn" @onclick="BeginLogOut" aria-label="Log out" title="Log out">
                <div class="sign">
                    <i class='bx bx-log-out'></i>
                </div>
                <div class="text">Logout</div>
            </button>
        </div>
    </Authorized>
    <NotAuthorized>
        <button class="btn" @onclick="BeginLogIn" aria-label="Log in" title="Log in">
            <div class="sign">
                <i class='bx bx-log-in'></i>
            </div>
            <div class="text">Login</div>
        </button>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    public void BeginLogIn()
    {
        Navigation.NavigateTo("authentication/login");
    }
}
