.user-info {
    display: flex;
    align-items: center;
    margin-top:10px;
}

    .user-info span {
        color: #fff;
        margin-right: 10px;
        font-size: 1rem;
        text-shadow: 0 3px 6px var(--text-shadow-color);
    }

.btn-icon {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .btn-icon:hover {
        color: #aaa;
    }

    .btn-icon i {
        vertical-align: middle;
    }

@media (max-width: 576px) {
    .btn-icon {
        font-size: 20px;
    }
}
